#Ignored folders
.gradle/
.idea/
build/
out/
**/*.iml
**/*.log

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries
/bin/

.classpath
.project
.settings/**
